﻿<div class="bg-light border-top p-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="lead text-center text-danger ">
                    <i class="fa-solid fa-store text-secondary display-6"></i>
                    <br />
                    <bold>Saat && Saat</bold>
                </div>
                <div class="text-muted text-center">
                    Saat Dünyası
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center text-muted my-3">
                    &copy; 2023 <br />Saat Dünyası footer template
                </div>
            </div>

        </div>
    </div>
</div>