
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-danger border-bottom box-shadow mb-3 p-3">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" asp-area="" asp-controller="Home" asp-action="Index"><atrong>Saat && Saat</atrong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="lead nav-link text-light" asp-area="" asp-controller="Employee" asp-action="Index"><strong>Personaller</strong> </a>
                </li>
                <li class="nav-item">
                    <a class="lead nav-link text-light" asp-area="" asp-controller="Employee" asp-action="DepartmentList"><strong>Departmanlar</strong></a>
                </li>
                <li class="nav-item">
                    <a class="lead nav-link text-light"  asp-area="" asp-controller="Home" asp-action="Survey"><strong>Anket</strong></a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <partial name="_NavbarLogin" />
            </ul>

        </div>
    </div>
</nav>


