@{
    ViewData["Title"] = "Personaller";
}
@model List<Employee>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>İsim</th>
            <th>Telefon</th>
            <th>İşe Giriş Tarihi</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.PhoneNumber</td>
                <td>@item.DateOfHire?.ToString("dd.MM.yyyy")</td>
            </tr>
        }

    </tbody>
</table>

<div class="pt-3">
    <div class="lead text-center py-3"><strong>Doğum Günleri</strong></div>
    @await Component.InvokeAsync("BirthDay")
</div>
<div>
    <div class="lead text-center py-3"><strong>İşe Girenler</strong></div>
    @await Component.InvokeAsync("LastestEmployees")
</div>
